In [1]:
import pandas as pd
import numpy as np

In [4]:
columns = ['Make',
'Model',
'Year',
'Engine HP',
'Engine Cylinders',
'Transmission Type',
'Vehicle Style',
'highway MPG',
'city mpg',
'MSRP']

In [5]:
df = pd.read_csv('./data.csv')
df = df[columns]
df.head().T

                            0            1         2         3            4
Make                      BMW          BMW       BMW       BMW          BMW
Model              1 Series M     1 Series  1 Series  1 Series     1 Series
Year                     2011         2011      2011      2011         2011
Engine HP               335.0        300.0     300.0     230.0        230.0
Engine Cylinders          6.0          6.0       6.0       6.0          6.0
Transmission Type      MANUAL       MANUAL    MANUAL    MANUAL       MANUAL
Vehicle Style           Coupe  Convertible     Coupe     Coupe  Convertible
highway MPG                26           28        28        28           28
city mpg                   19           19        20        18           18
MSRP                    46135        40650     36350     29450        34500